body {
    margin: 0;
    padding: 0;
    background-image: url(../img/cafe.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}

.login {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    width: 400px;
    height: 450px;
    box-shadow: 0 0 10px 5px black;
}

.avatar {
    font-size: 50px;
    background: #bdc3c7;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 500%;
    color: #2c3e50;
}

.login h2 {
    text-align: center;
    color: white;
    padding-top: 10px;
    letter-spacing: 5px;
}

.box-login {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 2px solid white;
    padding: 10px 0;
}

.box-login i {
    font-size: 20px;
    color: white;

}

.box-login input {
    width: 100%;
    padding: 0 10px;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
}

.box-login input::placeholder {
    color: white;
}

.btn-login {
    width: 100%;
    background: none;
    padding: 10px;
    border: 1px solid white;
    font-size: 18px;
    letter-spacing: 5px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {
    background: rgba(0, 0, 0, 0.8);
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.bottom a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.bottom a:hover {
    text-decoration: underline;
}
